@charset "UTF-8";
/*Импорт стилей шрифтов*/
/*Импорт стилей цветов*/
/*Импорт стилей интерфейсов*/
.wraper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
}

.section {
  padding: 50px 0;
}

.section-title {
  font-size: 42px;
  font-style: bold;
  text-align: center;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

img:hover {
  transition: 0.2s;
  opacity: 90%;
}

button {
  border-radius: 5px;
  background-color: #e01c1c;
  border: none;
  padding: 10px 10px;
  color: #cccccc;
  font-size: 16px;
  font-weight: 400;
}

button:hover {
  transition: 0.2s;
  background-color: #e84747;
  cursor: pointer;
}

/*Импорт стилей шапки*/
.navbar {
  margin-top: 8px;
  margin-bottom: 16px;
}

.navbar-block {
  display: flex;
  align-items: center;
}

.navbar__text {
  max-width: 192px;
  display: block;
  font-size: 11px;
  margin-left: 9px;
}

.navbar__menu {
  display: flex;
  list-style-type: none;
  margin-left: 46px;
  margin-right: 49px;
  font-size: 18px;
}

.navbar__item {
  margin-right: 20px;
}

.navbar__link {
  color: #000000;
}

.navbar-phone {
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar-phone__logo {
  opacity: 0.3;
  margin-right: 5px;
}

.navbar-phone__number {
  font-size: 16px;
}

/*Импорт стилей секуии №1*/
.section1 {
  background: url("../img/bg.png") no-repeat;
}

.section1-block {
  height: 600px;
  background-size: cover;
  padding-top: 100px;
}

.section1__content {
  padding-left: 21px;
  padding-top: 10px;
  padding-bottom: 13px;
  background-color: #050505;
  opacity: 0.7;
  max-width: 900px;
  width: 90%;
  margin-bottom: 42px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.section1__subtitle {
  font-size: 27px;
  font-weight: 700;
}

.section1__title {
  position: relative;
  font-size: 50px;
  text-decoration: uppercase;
  margin-bottom: 37px;
  font-weight: 700;
}

.section1__text {
  font-size: 18px;
}

.section1__button {
  margin-left: 28px;
}

/*Импорт стилей features выгоды*/
.features {
  background: url("../img/features/bgr_features.png") no-repeat;
}

.features__title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #333333;
  text-align: center;
  margin-bottom: 25px;
}

.features__block {
  background: url("../img/features/bgr_item.png") no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.features__block__item {
  flex-basis: 33%;
  text-align: center;
  background-color: #ffffff;
  opacity: 0.8;
  margin-bottom: 35px;
}
